* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient( #002025, #004050);
}


header {
    padding: 1rem;
    font-size: 1.2rem;
    border-bottom: 1px solid #28a;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    padding: 0.8rem 1rem;
    border-radius: 0.2rem;
    transition: all 0.2s 0s linear;
}

header nav ul li a:hover{
    background-color: #eee;
    color: #111;
}

.computer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 5%;
    border-bottom: 1px dotted #28a;
}

.computer-screen {
    width: 40%;
    max-width: 1280px;
    min-width: 480px;
    padding: 1rem;
    border: 0.8rem solid #eee;
    border-radius: 0.3rem;
}

.computer-screen h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.computer-screen p {
    font-size: 2rem;
    margin-left: 0.8rem;
}

.computer-screen p a{
    text-decoration: none;
    color: orange;
    transition: all 0.4s 0s linear;
}

.computer-screen p a:hover{
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    color: orange;
}

.computer-keyboard {
    width: 41%;
    max-width: 1312px;
    min-width: 492px;
    height: 40px;
    background-color: #eee;
    border-radius: 10px 10px 6px 6px;
}

.computer-screen p a{
    text-decoration: none;
    color: orange;
    transition: all 0.4s 0s linear;
}

/*Skills Section*/

.skills {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    padding: 5%;
    gap: 3rem;
}

.skills h2 {
    text-align: center;
    font-size: 3rem;
}

.skill-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.skill-icons img{
    width: 10%;
    min-width: 128px;
}

.skills p {
    text-align: center;
    padding: 0 20%;
    font-size: 1.5rem;
}

h1, h2 {
    color: wheat;
}

.word-html {
    color: darkorange;
}

.word-css {
    color: #2965f1
}

.word-js {
    color:#F0DB4F
}